extends layout

block content

	h1.page-title Pick your white cards...

	.container
		.row
			.progress
				.progress-bar.progress-bar-warning.progress-bar-striped.active(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%")#timer

		.row
			.card.card-black= room.current_round.black_card.sentence

		.row.spacer

		if session.team_name
			form(action="/play_round", method="post")
				.row
					each card in room.teams[session.team_name].hand
						.col-xs-6
							.slot
								.card.card-white
									input(type="checkbox", id="#{card.word}", name="cards[]", value="#{card.word}")
									p= card.word
				.row.text-center
					button.btn.btn-primary(type="submit") Submit

		.row
			table.table
				tr
					each team in room.teams
						if room.current_round.hands[team.name]
							th.success.text-center= team.name
						else
							th.danger.text-center= team.name

		.row.spacer

		if session.admin
			.row.text-center
				a.btn.btn-warning(href="/end_round") End Round
