extends layout

block content

	h1.page-title Round #{room.current_round.round} / #{room.max_rounds}

	.container
		.row
			each team in room.teams
				.col-xs-6
					if session.team_name && session.team_name == team.name
						.slot.slot-success
							strong= team.name
							p.score= team.score
					else
						.slot.slot-primary
							strong= team.name
							p.score= team.score

		.row
			.spacer

		if session.admin
			.row.text-center
				div.col-xs-6
					a.btn.btn-primary.btn-lg(href="/screen/show_black_card") Start Round
				div.col-xs-6
					a.btn.btn-danger.btn-lg(href="/screen/end_game") End Game

		if session.team_name
			.row.text-center
				div.col-xs-12
					a.btn.btn-danger.btn-lg(href="/team/end_game") Quit
