extends layout

block content

	h1.page-title Results

	.container
		.row
			-var black = room.current_round.black_card
			form(action="/vote_round", method="post")
				each team in room.teams
					.col-xs-6
						.slot.round-result
							strong= team.name
							if session.admin
								button.btn.btn-primary.pull-left(type="submit", name="team", value=team.name) Vote
							-var hand = room.current_round.hands[team.name]
							if hand
								.card.card-black
									if black.words == 1
										if black.sentence.indexOf("_" > -1)
											span!= black.sentence.replace("_", "<span class='card card-white'>" + hand[0] + "</span>")
										else
											span!= black.sentence
												span.card.card-white!= hand[0]
									else
										-var parts = black.sentence.split("_")
										span!= parts[0] + "<span class='card card-white'>" + hand[0] + "</span>" + parts[1] + "<span class='card card-white'>" + hand[1] + "</span>" + parts[2]
							else
								i no submission
