extends layout

block content

	h1.page-title #{room.id}

	if room.current_round.round > room.max_rounds
		h1.page-title Game Over
	else
		h1.page-title Waiting for teams...
		h1.page-title round #{room.current_round.round} / #{room.max_rounds}

	.container
		.row#teams
			each team in room.teams
				.col-xs-6
					if session.team_name && session.team_name == team.name
						.slot.slot-success
							strong= team.name
							p.score= team.score
					else
						.slot.slot-primary
							strong= team.name
							p.score= team.score
		.row.spacer

		if session.admin
			.row.text-center
				if room.current_round.round <= room.max_rounds
					div.col-xs-6
						form(action="/new_round", method="post")
							if room.current_round.round == 1
								button.btn.btn-primary.btn-lg(type="submit") Start Game
							else
								button.btn.btn-primary.btn-lg(type="submit") New Round
					div.col-xs-6
						form(action="/end_game", method="post")
							button.btn.btn-danger.btn-lg(type="submit") End Game
				else
					div.col-xs-12
						form(action="/end_game", method="post")
							button.btn.btn-danger.btn-lg(type="submit") End Game
		else if session.team_name
			.row.text-center
				div.col-xs-12
					form(action="/quit_game", method="post")
						button.btn.btn-danger.btn-lg(type="submit") Quit
